.collections-puyer .item-image {
  position: relative;
}

.collections-puyer .overley-photo {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  display: none;
}

.collections-puyer .photo {
  height: 390px;
}

.collections-puyer .photo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}

.collections-puyer .cart-heart {
  position: absolute;
  top: 0;
  display: none;
}

.collections-puyer .photo-info {
  margin-bottom: 20px;
}

.collections-puyer .photo-info h2 {
  font-size: 16px;
  padding: 0;
  margin: 10px 0;
  line-height: 1.5;
  width: 240px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #fff;
}

.collections-puyer .photo-info p {
  font-size: 14px;
  padding: 0;
  margin: 0 0 10px;
  color: #777;
  line-height: 1.5;
  width: 240px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.collections-puyer .photo-info span {
  font-size: 18px;
  padding: 0;
  margin: 0;
  display: block;
  color: #fff;
}

.collections-puyer .item-image .overley {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 20px;
  opacity: 0;
  transition: all 0.3s ease-in-out;
}

.collections-puyer .item-image .overley:hover {
  opacity: 1;
  cursor: pointer;
}

.collections-puyer .item-image {
  position: relative;
}

.collections-puyer .item-image .overley-info .plus {
  position: absolute;
  left: 34px;
  top: 28px;
  font-size: 12px;
  border-radius: 50%;
  width: 12px;
  height: 12px;
  line-height: 11px;
  text-align: center;
  color: #333 !important;
  background-color: #f1ad56 !important;
}

.collections-puyer .item-image .overley-info .user-art {
  position: absolute;
  left: 0;
  bottom: 20px;
}

.collections-puyer .item-image .overley-info .heart {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 22px;
  color: #fff;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.collections-puyer .item-image .overley-info .heart:hover {
  color: #f1ad56;
  fill: #f1ad56;
}

.collections-puyer .item-image .overley-info .cart-shopping {
  position: absolute;
  top: 10px;
  left: 20px;
  font-size: 23px;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  border-radius: 50%;
  cursor: pointer;
  color: #f1ad56 !important;
}

.collections-puyer .item-image .overley-info .plus {
  position: absolute;
  left: 34px;
  top: 28px;
  font-size: 12px;
  border-radius: 50%;
  width: 12px;
  height: 12px;
  line-height: 11px;
  text-align: center;
  color: #333 !important;
  background-color: #f1ad56 !important;
}

.collections-puyer .item-image .overley-info .user-art span {
  color: #fff;
  font-size: 14px;
  margin-left: 10px;
  text-transform: capitalize;
}

.collections-puyer .item-image .overley-info .user-image {
  width: 50px;
  height: 50px;
  margin-left: 15px;
  display: inline-block;
}

.collections-puyer .item-image .overley-info .user-image img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}

.collections-puyer .item-image .overley-info {
  opacity: 0;
  transition: all 0.3s ease-in-out;
}

.collections-puyer .item-image:hover .overley-info {
  opacity: 1;
}

@media (max-width: 575.98px) {
  .collections-puyer .photo {
    height: 280px;
  }
}
