.slider-tags {
  margin: 20px 0;
  overflow: hidden;
  padding: 20px 0;
}

.slider-tags span {
  color: var(--text-color);
  font-size: 13px;
  font-weight: 500;
}

.slider-wrapper {
  overflow: hidden;
  position: relative;
  width: 100%;
}

.slider-content {
  display: flex;
  gap: 10px;
  padding: 0;
  margin: 0;
  transition: transform 0.3s ease-in-out;
  white-space: nowrap;
}

.slider-content .tags {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #161616;
  border: 1px solid var(--sec-main-color);
  border-radius: 5px;
  padding: 7px 19px;
  cursor: pointer;
  text-align: center;
  position: relative;
  color: var(--text-color);
  margin-right: 10px;
  font-size: 13px;
}

.slider-content .tags.active {
  background-color: var(--main-color);
  color: var(--sec-main-color);
  border-color: var(--main-color);
}

.icon-x-tags {
  position: absolute;
  top: 2px;
  right: -15px;
  display: none;
  cursor: pointer;
  color: var(--text-color);
  background: #161616;
  height: 30px;
  width: 30px;
  line-height: 30px;
  border-radius: 30px;
  font-size: 12px !important;
}

.tags.active .icon-x-tags {
  display: inline-block;
}

.slider-scroll {
  position: absolute;
  top: 42%;
  right: -175px;
  transform: translateY(-50%);
  background-color: var(--text-color);
  color: var(--background-input);
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 23px;
}

.images-items-collections {
  padding: 0 0 50px 0;
}

.images-items-collections .items-collections-image {
  position: relative;
  height: 390px !important;
}

.images-items-collections .items-collections-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}

.items-collections-info {
  margin-bottom: 20px;
}

.image-card .items-collections-image .overley {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 20px;
  opacity: 0;
  transition: all 0.3s ease-in-out;
}

.image-card .items-collections-image:hover .overley {
  opacity: 1;
  cursor: pointer;
}

.image-card .items-collections-image:hover .overley-info {
  opacity: 1;
}

.images-items-collections h2 {
  color: #fff;
  padding: 15px 0 0;
  font-size: 16px;
  font-weight: 400;
}

.images-items-collections p {
  color: #777;
  font-size: 14px;
  width: 240px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0 0 10px 0;
  font-weight: 300;
}

.images-items-collections h3 {
  color: #fff;
  margin-bottom: 20px;
  font-size: 18px;
}

.overley-info {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.overley-info .heart {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 22px;
  color: #fff;
  width: 40px;
  height: 40px;
  text-align: center;
  border-radius: 50%;
  cursor: pointer;
  line-height: 40px;
  background-color: #16161694;
  transition: all 0.3s ease;
}

.overley-info .cart-shopping {
  position: absolute;
  top: 10px;
  left: 20px;
  font-size: 23px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.3s ease;
}

.overley-info .plus {
  position: absolute;
  left: 40px;
  top: 31px;
  font-size: 12px;
  border-radius: 50%;
  width: 12px;
  height: 12px;
  line-height: 11px;
  text-align: center;
  color: #333 !important;
  background-color: #f1ad56 !important;
  transition: all 0.3s ease;
}

.overley-info .user-art {
  position: absolute;
  left: 0;
  bottom: 20px;
}

.overley-info .user-art span {
  color: #fff;
  font-size: 14px;
  margin-left: 10px;
  text-transform: capitalize;
}

.overley-info .user-image {
  width: 50px;
  height: 50px;
  margin-left: 15px;
  display: inline-block;
}

.overley-info .user-image img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}

@media (min-width: 1200px) {
  .image-card .items-collections-image {
    height: 380px;
  }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  .image-card .items-collections-image {
    height: 340px;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .image-card .items-collections-image {
    height: 290px;
  }

  .images-items-collections p {
    max-width: 100%;
  }
}

@media (max-width: 767.98px) {
  .image-card .items-collections-image {
    height: 247px !important;
  }

  .images-items-collections p {
    max-width: 100%;
    white-space: normal;
    overflow: visible;
    text-overflow: clip;
  }

  .slider-content .tags {
    padding: 7px 15px;
    font-size: 12px;
  }

  .overley-info .heart,
  .overley-info .cart-shopping {
    width: 35px;
    height: 35px;
    line-height: 35px;
    font-size: 18px;
  }

  .overley-info .plus {
    left: 35px;
    top: 28px;
  }

  .overley-info .user-image {
    width: 40px;
    height: 40px;
  }
}
