.popup-search {
  position: fixed;
  background: rgba(0, 0, 0, 0.8);
  height: 100vh;
  width: 100%;
  color: #fff !important;
  z-index: 9999 !important;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.popup-search .close {
  position: relative;
}

.popup-search .close-icon {
  position: absolute;
  top: 20px;
  right: 40px;
  font-size: 30px;
  color: #fff;
  cursor: pointer;
}

.popup-search .w-search {
  width: 600px;
  margin: 25% auto;
}

.popup-search .w-search h2 {
  font-weight: 500;
  font-size: 20px;
  margin-bottom: 20px;
}

.popup-search .w-search .search {
  position: relative;
}

.popup-search .w-search .search .search-icon {
  position: absolute;
  top: 8px;
  left: 25px;
  font-size: 20px;
}

.popup-search .search input[type="text"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #fff;
  background: rgba(0, 0, 0, 0.5) !important;
  color: #f5f5f5;
  font-size: 16px;
  border-radius: 30px !important;
  text-indent: 45px;
}

.popup-search .tags {
  margin-top: 30px;
}

.popup-search .tags .tag {
  padding: 10px 15px;
  color: #222;
  background-color: #fff;
  margin-right: 10px;
  margin-bottom: 10px;
  border-radius: 30px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.popup-search .tags .tag:hover {
  background-color: #222;
  color: #fff;
}
