.empty-cart-container {
  min-height: calc(100vh - 150px);
  display: flex;
  flex-direction: column;
}

.empty-cart-container .prev-cart {
  color: #fff;
  padding: 20px 0;
  font-size: 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.empty-cart-container .prev-cart span {
  margin-left: 5px;
  font-size: 16px;
}

.empty-cart-container .empty-cart-content {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.empty-cart-container .empty-cart {
  color: #fff;
  max-width: 500px;
  width: 100%;
  margin: 0 auto;
  padding: 40px;
}

.empty-cart-container .empty-cart h1 {
  font-size: 25px;
  padding: 20px 0;
  margin: 0;
}

.empty-cart-container .empty-cart p {
  color: #777;
  line-height: 1.5;
  font-size: 14px;
  margin: 0 auto;
  padding: 10px 0 30px;
  max-width: 400px;
}

.empty-cart-container .empty-cart button {
  border: 1px solid #fff;
  border-radius: 10px;
  padding: 10px;
  background-color: transparent;
  color: #fff;
  font-weight: 500;
  width: 200px;
  font-size: 14px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.empty-cart-container .empty-cart button:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

/* Responsive Styles */
@media (max-width: 991.98px) {
  .empty-cart-container .empty-cart {
    padding: 30px;
  }

  .empty-cart-container .empty-cart h1 {
    font-size: 28px;
  }
}

@media (max-width: 767.98px) {
  .empty-cart {
    padding: 25px 20px;
  }

  .empty-cart h1 {
    font-size: 26px;
  }

  .empty-cart p {
    font-size: 15px;
  }
}

@media (max-width: 575.98px) {
  .empty-cart-container .empty-cart-container {
    min-height: calc(100vh - 130px);
  }

  .empty-cart-container .prev-cart {
    padding: 15px 0;
    font-size: 22px;
  }

  .empty-cart-container .prev-cart span {
    font-size: 14px;
    margin-left: 5px;
  }

  .empty-cart-container .empty-cart {
    padding: 20px 15px;
  }

  .empty-cart-container .empty-cart h1 {
    font-size: 24px;
    padding: 15px 0;
  }

  .empty-cart-container .empty-cart p {
    font-size: 14px;
    padding: 10px 0 25px;
    max-width: 300px;
  }

  .empty-cart-container .empty-cart button {
    padding: 10px 25px;
    width: 180px;
  }
}

@media (max-width: 400px) {
  .empty-cart-container .empty-cart h1 {
    font-size: 22px;
  }

  .empty-cart-container .empty-cart p {
    max-width: 250px;
  }

  .empty-cart-container .empty-cart button {
    width: 100%;
    max-width: 200px;
  }
}
