.section-credit .balance {
  padding: 20px;
  background: rgb(255, 163, 45);
  background: linear-gradient(
    90deg,
    rgba(255, 163, 45, 1) 44%,
    rgba(255, 201, 131, 1) 95%
  );
  color: #222;
  margin-bottom: 20px;
  border-radius: 10px;
}

.section-credit .available-balance h3 {
  font-size: 16px;
  font-weight: 400;
}

.section-credit .available-balance span {
  font-size: 30px;
  font-weight: 500;
}

.section-credit .withdrawal button {
  background-color: #222;
  color: #fff;
  padding: 10px;
  width: 100%;
  border: 1px solid #222;
  border-radius: 5px;
  font-size: 14px;
  margin-top: 20px;
}

.section-credit .credit-button {
  margin-bottom: 20px;
}

.section-credit .credit-button button {
  font-size: 14px;
}

.section-credit .credit-button button.all {
  padding: 8px;
  background-color: #fff;
  border: 1px solid #fff;
  color: #222;
  border-radius: 5px;
  width: 130px;
  margin-right: 10px;
}

.section-credit .credit-button button.expiring {
  padding: 8px;
  background-color: #111;
  border: 1px solid #111;
  color: #fff;
  border-radius: 5px;
  width: 130px;
}

.section-credit .end-table button.button-export {
  padding: 7px 15px;
  background-color: #f1ad56;
  border: 1px solid #f1ad56;
  color: #222;
  border-radius: 5px;
  width: 200px;
  font-size: 15px;
  margin-bottom: 10px;
  margin-left: 20px;
}

.section-credit .end-table .button-export .export-icon {
  margin-right: 10px;
  font-size: 18px;
}

.section-credit .table > :not(caption) > * > * {
  padding: 15px;
  background-color: #1a1a1a;
  box-shadow: inset 0 0 0 9999px
    var(--bs-table-bg-state, var(--bs-table-bg-type, #1a1a1a));
}

.section-credit .table-number-dropdown {
  display: inline-block;
  margin-left: 10px;
}

.section-credit .table-number-dropdown .dropdown button {
  background: transparent;
  border: 1px solid #fff;
  display: inline-block;
  padding: 6px 20px;
  font-size: 14px;
  margin-right: 10px;
  position: relative;
  top: -1px;
}

.section-credit .table-number {
  text-align: right;
}

.section-credit .table-number span.number-page,
.section-credit .table-number span.arrow-back-icon,
.section-credit .table-number span.arrow-next-icon {
  background: #1a1a1a;
  color: #fff;
  font-size: 13px;
  font-weight: 300;
  margin-right: 10px;
  width: 35px;
  height: 36px;
  line-height: 35px;
  display: inline-block;
  text-align: center;
  border-radius: 5px;
}

.section-credit .table-number span.number-page {
  top: 1px;
  position: relative;
}

.section-credit .table-number span.arrow-back-icon,
.section-credit .table-number span.arrow-next-icon {
  font-size: 20px;
  position: relative;
  top: 2px;
}

.section-credit .dropdown-menu.show {
  display: block;
  background: #1a1a1a;
  color: #fff;
  border-radius: 3px;
}

.section-credit .section-credit .dropdown-menu {
  width: 50px !important;
}

.marasem-cridt-mobile {
  display: none;
}

.section-credit .tabel-all-info {
  border: 5px solid #1a1a1a;
  border-radius: 10px;
}

.section-credit .table-checkbox-all {
  margin-left: 10px;
  position: relative;
  top: -2px;
}

.select-table-row-black {
  background-color: #000 !important;
  color: #fff !important;
}

@media (max-width: 575.98px) {
  .section-credit .credit-button,
  .section-credit .tabel-all-info {
    display: none;
  }

  .section-credit .marasem-cridt-mobile {
    display: block;
    color: #fff;
    font-size: 16px;
    margin-bottom: 30px;
  }

  .section-credit .marasem-cridt-mobile .credit-icon {
    color: #f1ad56;
    margin-right: 5px;
    font-size: 22px;
    display: inline-block;
  }
}
