.cart-items .item-number {
  padding: 20px 0;
}

.cart-items .item-number span:first-child {
  color: #fff;
  font-size: 20px;
  margin-right: 15px;
  display: inline-block;
}

.cart-items .item-number span:last-child {
  font-size: 15px;
  color: #777;
}

.items-in-cart {
  color: #fff;
}

.items-in-cart .item {
  margin: 20px 0;
  background-color: #1a1a1a;
  border: 1px solid #1a1a1a;
  border-radius: 10px;
  position: relative;
}

.items-in-cart .image-item {
  height: 105px;
  width: 128px;
}

.items-in-cart .image-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px 0 0 10px;
}

.items-in-cart .info-item h2 {
  font-size: 14px;
  margin: 0;
  padding: 10px 0;
  width: 280px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #e5e5e5;
}

.items-in-cart span.view-details {
  position: absolute;
  top: 40px;
  right: 140px;
  font-size: 13px;
}

.items-in-cart .info-item p {
  font-size: 14px;
  line-height: 1.5;
  width: 80%;
  color: #777;
  margin-bottom: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.items-in-cart .info-item span {
  color: #fff;
  font-size: 16px;
  display: block;
}

.items-in-cart .remove-heart {
  line-height: 105px;
  text-align: right;
  padding: 0 25px;
}

.items-in-cart .remove,
.items-in-cart .heart {
  background: #2d2d2d;
  width: 40px;
  height: 40px;
  line-height: 40px;
  display: inline-block;
  text-align: center;
  font-size: 18px;
  border-radius: 50%;
  margin-right: 20px;
  cursor: pointer;
}

.items-in-cart .heart {
  margin-right: 0;
}

.items-in-cart .button-add-artwork {
  margin-bottom: 20px;
}

.items-in-cart .button-add-artwork button {
  background-color: transparent;
  width: 200px;
  color: #fff;
  border: 1px solid #fff;
  padding: 10px;
  border-radius: 30px;
  font-size: 14px;
  font-weight: 400;
}

.items-in-cart .order-summary {
  margin-top: 20px;
  border: 5px solid #1a1a1a;
  border-radius: 10px;
}

.items-in-cart .order-summary h2 {
  padding: 10px;
  margin: 0;
  background-color: #1a1a1a;
  color: #777;
  font-size: 16px;
}

.items-in-cart .order-summary p {
  padding: 0 10px;
  font-size: 14px;
}

.items-in-cart .order-summary .subtotal,
.items-in-cart .promocode,
.items-in-cart .total-price {
  margin-top: 10px;
  color: #777;
}

.items-in-cart .price-all-items,
.items-in-cart .price-promocode,
.items-in-cart .total-price-number {
  margin-top: 10px;
  text-align: right;
}

.items-in-cart .total-price,
.items-in-cart .total-price-number {
  font-size: 17px;
  font-weight: 700;
}

.items-in-cart .order-summary-button {
  background-color: #1a1a1a;
  padding-top: 5px;
}

.items-in-cart .order-summary-button a {
  width: 100%;
  border: 1px solid #f1ad56;
  border-radius: 5px;
  background-color: #f1ad56;
  color: #333;
  padding: 10px;
  font-weight: 500;
  font-size: 14px;
  width: 100%;
  text-align: center;
  text-decoration: none;
  display: block;
}

@media (max-width: 575.98px) {
  .items-in-cart .info-item h2 {
    width: 200px;
  }

  .items-in-cart .remove-heart,
  .items-in-cart .view-details {
    display: none;
  }

  .items-in-cart .button-add-artwork {
    margin-top: 40px;
    text-align: center;
  }

  .items-in-cart .item {
    position: relative;
  }

  .items-in-cart .item:hover .remove-heart {
    position: absolute;
    top: 3%;
    right: 0%;
  }

  .items-in-cart .view-details {
    position: absolute;
    top: 40%;
    left: 30%;
    color: #f1ad56;
    font-size: 16px;
  }

  .items-in-cart .item,
  .items-in-cart .info-item {
    transition: all 0.3s ease-in-out;
  }

  .items-in-cart .item:hover .info-item,
  .items-in-cart .item:focus .info-item {
    display: none;
    cursor: pointer;
  }

  .items-in-cart .item:hover .remove-heart,
  .items-in-cart .item:focus .remove-heart,
  .items-in-cart .item:hover .view-details {
    display: block;
  }
}

@media (max-width: 767.98px) {
  .items-in-cart .remove-heart,
  .items-in-cart .view-details {
    display: none;
  }

  .items-in-cart .button-add-artwork {
    margin-top: 40px;
    text-align: center;
  }

  .items-in-cart .item {
    position: relative;
  }

  .items-in-cart .item:hover .remove-heart {
    position: absolute;
    top: 3%;
    right: 0%;
  }

  .items-in-cart .view-details {
    position: absolute;
    top: 40%;
    left: 30%;
    color: #f1ad56 !important;
    font-size: 16px;
  }

  .items-in-cart .item,
  .items-in-cart .info-item {
    transition: all 0.3s ease-in-out;
  }

  .items-in-cart .item:hover .info-item,
  .items-in-cart .item:focus .info-item {
    display: none;
    cursor: pointer;
  }

  .items-in-cart .item:hover .remove-heart,
  .items-in-cart .item:focus .remove-heart,
  .items-in-cart .item:hover .view-details {
    display: block;
  }

  .items-in-cart .image-item {
    height: 105px;
    width: 105px;
  }
}

@media (max-width: 991.98px) {
  .items-in-cart .view-details {
    display: none;
  }
}

@media (max-width: 1199.98px) {
  .items-in-cart .view-details {
    display: none;
  }
}

@media (max-width: 1399.98px) {
  .items-in-cart .view-details {
    display: none;
  }
}
