.navbar .nav-buyer .hello-name {
  color: #f1ad56;
  padding: 0;
  font-size: 14px;
}

.navbar .nav-buyer .dropdown button {
  color: #fff;
  padding: 0;
  font-size: 14px !important;
}

.navbar .nav-hr {
  width: 2px;
  height: 24px;
  background-color: #4c4c4c;
  margin: 0 10px;
  border: 1px solid #4c4c4c;
}
