.number-pages {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

.number-pages .number > span {
  background: #404040;
  border-radius: 5px;
  color: #fff;
  margin: 0 2px;
  cursor: pointer;
  width: 30px;
  display: inline-block;
  height: 30px;
  line-height: 30px;
}

.number-pages .number span.active {
  cursor: pointer;
  background: #f1ad56;
  color: #000;
}

.number-pages .number span.first-arrow-icon {
  margin-right: 5px;
}

.number-pages .number span.last-arrow-icon {
  margin-left: 5px;
}

.number-pages .dropdown-number-pages {
  display: inline-block;
  padding: 0;
  margin-left: 5px;
}

.number-pages .dropdown-number-pages .dropdown .btn {
  background: transparent;
  padding: 5px 0;
  width: 60px !important;
  top: 0 !important;
}

.number-pages .dropdown-menu.show {
  background-color: #404040;
  text-align: center;
  width: 50px;
}

.number-pages .dropdown-number-pages .dropdown .arrow-down-icon {
  position: absolute;
  top: 3px;
  right: 4px;
  font-size: 15px;
  color: #fff;
}
