.home-menu-mobile {
  display: none;
}

@media (max-width: 576px) {
  .nav-buyer,
  .navbar-nav,
  .nav-search,
  .nav-login,
  .nav-hr,
  .nav-artist,
  .nav-notification,
  .nav-cart,
  .nav-artist .photo-artist {
    display: none !important;
  }

  .home-menu-mobile {
    display: block;
    height: 100%;
    width: 100%;
    position: fixed;
    top: 70px;
    left: 0;
    right: 0;
    bottom: 0;
    background: #000;
    overflow-y: auto;
    overflow-x: hidden;
    z-index: 9999;
  }

  .home-menu-mobile .box-menu .box-search .form-search {
    position: relative;
  }

  .home-menu-mobile .box-menu .box-search .form-search .search-icon-mobile {
    position: absolute;
    top: 5px;
    font-size: 22px;
    color: #fff;
    left: 20px;
  }

  .home-menu-mobile .box-menu .box-search input {
    margin-top: 0;
    width: 100%;
    padding: 13px;
    margin-bottom: 10px;
    border-radius: 30px;
    border: 1px solid #141414;
    background: #141414;
    text-indent: 40px;
    color: #fff;
  }

  .home-menu-mobile .box-menu .box-profile {
    background: #141414;
    padding: 20px 30px 5px;
    margin-bottom: 10px;
    border-radius: 20px;
    color: #fff;
    position: relative;
  }

  .home-menu-mobile .box-menu .box-collection,
  .home-menu-mobile .box-menu .box-orders {
    background: #141414;
    padding: 10px 30px;
    margin-bottom: 10px;
    border-radius: 20px;
    color: #fff;
    position: relative;
  }

  .home-menu-mobile .box-menu .box-collection .arrow-icon-1,
  .home-menu-mobile .box-menu .box-collection .arrow-icon-2,
  .home-menu-mobile .box-menu .box-collection .arrow-icon-3 {
    position: absolute;
    right: 25px;
    font-size: 20px;
    top: 25px;
  }

  .home-menu-mobile .box-menu .box-collection .arrow-icon-2 {
    top: 65px;
  }

  .home-menu-mobile .box-menu .box-collection .arrow-icon-3 {
    top: 105px;
  }

  .home-menu-mobile .box-menu .box-orders .addresses-icon,
  .home-menu-mobile .box-menu .box-orders .order-icon,
  .home-menu-mobile .box-menu .box-orders .credit-icon {
    position: absolute;
    right: 28px;
    font-size: 20px;
    top: 20px;
  }

  .home-menu-mobile .box-menu .box-orders .order-icon {
    top: 65px;
  }

  .home-menu-mobile .box-menu .box-orders .credit-icon {
    top: 105px;
  }

  .home-menu-mobile .box-menu .box-list-profile,
  .home-menu-mobile .box-menu .box-list-collection,
  .home-menu-mobile .box-menu .box-list-orders {
    margin-top: 20px;
  }

  .home-menu-mobile .box-menu .box-list-profile ul li,
  .home-menu-mobile .box-menu .box-list-collection ul li,
  .home-menu-mobile .box-menu .box-list-orders ul li {
    margin-bottom: 10px;
    border-bottom: 1px solid #3d3d3d;
  }

  .home-menu-mobile .box-menu .box-list-profile ul li {
    position: relative;
  }

  .home-menu-mobile .box-menu .cart-icon-mobile,
  .home-menu-mobile .box-menu .favorites-icon-mobile,
  .home-menu-mobile .box-menu .notification-icon-mobile {
    position: absolute;
    right: 0;
    top: -10px;
    font-size: 20px;
  }

  .home-menu-mobile .box-menu .cart-icon-mobile {
    font-size: 30px;
  }

  .home-menu-mobile .box-menu .notification-icon-mobile {
    font-size: 25px;
  }

  .home-menu-mobile .box-menu .cart-number-mobile,
  .home-menu-mobile .box-menu .favorites-number-mobile,
  .home-menu-mobile .box-menu .notification-number-mobile {
    position: absolute;
    top: 22px;
    font-size: 12px;
    right: -3px;
    background: #f3ae4d;
    width: 15px;
    height: 15px;
    line-height: 17px;
    text-align: center;
    border-radius: 50%;
    color: #222;
  }

  .home-menu-mobile .box-menu .cart-number-mobile {
    background-color: red;
    color: #fff;
  }

  .home-menu-mobile .box-menu .favorites-number-mobile {
    top: 15px;
    right: -5px;
    background-color: red;
    color: #fff;
  }

  .home-menu-mobile .box-menu .notification-number-mobile {
    top: 8px;
    right: -3px;
  }

  .home-menu-mobile .box-menu .box-list-profile ul li:last-child,
  .home-menu-mobile .box-menu .box-list-collection ul li:last-child,
  .home-menu-mobile .box-menu .box-list-orders ul li:last-child {
    border-bottom: none;
  }

  .home-menu-mobile .box-menu .box-list-profile ul li a,
  .home-menu-mobile .box-menu .box-list-collection ul li a,
  .home-menu-mobile .box-menu .box-list-orders ul li a {
    font-size: 13px;
    text-decoration: none;
    color: #fff;
    padding: 0px 0 10px 0;
    display: block;
  }

  .home-menu-mobile .box-menu .box-button-logout a {
    padding: 8px;
    width: 100%;
    text-align: center;
    display: block;
    border: 1px solid #fff;
    border-radius: 12px;
    color: #fff;
    text-decoration: none;
    font-size: 16px;
  }

  .home-menu-mobile .box-menu .box-button-logout span.logout-icon {
    font-size: 18px;
    margin-right: 10px;
  }

  .home-menu-mobile .box-menu .profile-name {
    margin-top: 7px;
    margin-left: 15px;
  }

  .home-menu-mobile .box-menu .profile-name span {
    color: #777;
  }

  .home-menu-mobile .box-menu .arrow-icon {
    position: absolute;
    right: 25px;
    font-size: 20px;
    top: 35px;
  }

  .home-menu-mobile .box-menu .map-icon {
    font-size: 16px;
  }

  .home-menu-mobile .art {
    background: #f3ae4d;
    color: #222;
    padding: 10px 5px;
    width: 100%;
    display: block;
    border-radius: 30px;
    border: 1px solid #f3ae4d;
    text-align: center;
    text-decoration: none;
    font-size: 13px;
  }

  .home-menu-mobile .login {
    background: #fff;
    color: #222;
    padding: 10px 5px;
    width: 100%;
    display: block;
    border-radius: 30px;
    border: 1px solid #fff;
    text-align: center;
    text-decoration: none;
    font-size: 13px;
  }
}
