.section-draft .box-draft {
  background-color: #1a1a1a;
  color: #fff;
  position: relative;
  margin-bottom: 20px;
}

.section-draft .draft-image {
  position: relative;
}

.section-draft .draft-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.section-draft .draft-info {
  padding: 20px 10px 10px;
}

.section-draft .draft-button {
  position: absolute;
  top: 43%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  z-index: 1;
}

.section-draft .draft-button button {
  border: 1px solid #fff;
  padding: 10px 20px;
  border-radius: 20px;
  display: block;
  width: 135px;
}

.section-draft .draft-button button.edite-artwork {
  margin-bottom: 10px;
  background-color: #f1ad56;
  border: 1px solid #f1ad56;
  color: #222;
}

.section-draft .draft-button button.delete-artwork {
  background-color: #ff3030;
  border: 1px solid #ff3030;
  color: #fff;
}

.section-draft .pars-icon {
  position: absolute;
  top: 10px;
  left: 10px;
  padding: 0px 10px;
  background: #777777ad;
  border-radius: 20px;
  font-size: 29px;
  line-height: 26px;
  display: inline-block;
  height: 27px;
  color: #343434;
  cursor: pointer;
}

.section-draft .draft-info h2 {
  font-size: 14px;
  line-height: 1.7;
  font-weight: 400;
}

.section-draft .draft-info p {
  color: #777;
  line-height: 1.7;
  font-size: 13px;
}

.section-draft .draft-button p {
  margin-top: 10px;
  font-size: 12px !important;
  position: relative;
}

@media (max-width: 575.98px) {
  .section-draft .draft-button {
    top: 40%;
  }

  .section-draft .draft-button button {
    padding: 7px 20px;
  }

  .section-draft .draft-button p,
  .section-draft .draft-info p {
    width: 140px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
